@page
@model abakes.Pages.AboutUsModel
@{
    ViewData["Title"] = "About Us";
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.104.2">
    <title>Carousel Template · Bootstrap v5.2</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/carousel/">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="~/css/damarota-blog.css " asp-append-version="true">
    <link rel="stylesheet" href="~/css/owl.css" asp-append-version="true">


    <link href="~/css/layout.css" rel="stylesheet" asp-append-version="true">
    <link href="~/Pages/Shared/_Layout.cshtml" rel="stylesheet" asp-append-version="true">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }



        @@media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .b-example-divider {
            height: 3rem;
            background-color: rgba(0, 0, 0, .1);
            border: solid rgba(0, 0, 0, .15);
            border-width: 1px 0;
            box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
        }

        .b-example-vr {
            flex-shrink: 0;
            width: 1.5rem;
            height: 100vh;
        }

        .bi {
            vertical-align: -.125em;
            fill: currentColor;
        }

        .nav-scroller {
            position: relative;
            z-index: 2;
            height: 2.75rem;
            overflow-y: hidden;
        }

            .nav-scroller .nav {
                display: flex;
                flex-wrap: nowrap;
                padding-bottom: 1rem;
                margin-top: -1px;
                overflow-x: auto;
                text-align: center;
                white-space: nowrap;
                -webkit-overflow-scrolling: touch;
            }


        .sec-aboutus {
            height: 80vh;
            border-color: rgb(252,188,180);
            background-color: rgb(252,188,180);
            margin: 30px;
            margin-top: 50px;
            display: block;
            justify-content: center;
            align-items: center;
            text-align: center;
        }


        .left-col-aboutus {
            width: 50%;
            float: left;
            margin-top: 7%;
        }

        .right-col-aboutus {
            width: 50%;
            float: right;
            margin-top: 5%;
        }

        .p-aboutus {
            margin-top: 60px;
            margin-right: 100px;
            margin-bottom: 30px;
            margin-left: 1%;
            padding-top: 30px;
            text-align: justify;
            color: white;
            font-size: 20px;
            font-family: Poppins ExtraBold;
        }

        .aboutus-img {
            border-color: white;
            border-width: 10px;
            border-style: solid;
            margin-bottom: 0.5em;
            margin-top: 30px;
        }

        .h-aboutus {
            color: white;
            text-align: center;
            font-size: 40px;
            font-family: Poppins ExtraBold;
            margin-top: 50px;
            margin-bottom: 10px;
        }

        .navbar-nav li {
            transition: all 0.2s ease-in-out;
        }

            .navbar-nav li:hover {
                transform: scale(1.2);
            }


        .sec-aboutus {
            height: 135vh;
            border-color: rgb(252,188,180);
            background-color: rgb(252,188,180);
            margin: 30px;
            margin-top: 50px;
            display: block;
            justify-content: center;
            align-items: center;
            text-align: center;
        }


        .left-col-aboutus {
            width: 50%;
            float: left;
        }

        .right-col-aboutus {
            width: 50%;
            float: right;
        }

        .p-aboutus {
            margin-top: 100px;
            margin-right: 150px;
            margin-left: 1%;
            padding-top: 30px;
            text-align: justify;
            color: white;
            font-size: 20px;
            font-family: Poppins ExtraBold;
        }

        .p-aboutus2 {
            margin-top: 50px;
            margin-right: 150px;
            margin-bottom: 30px;
            margin-left: 1%;
            text-align: justify;
            color: white;
            font-size: 20px;
            font-family: Poppins ExtraBold;
        }

        .aboutus-img {
            border-color: white;
            border-width: 10px;
            border-style: solid;
            margin-bottom: 0.5em;
            margin-top: 30px;
        }

        .aboutus-img2 {
            border-color: white;
            border-width: 10px;
            border-style: solid;
            margin-bottom: 0.5em;
            margin-top: 10px;
            align-content: center;
        }
    </style>


    <!-- Custom styles for this template -->
    <link href="~/css/carousel.css" rel="stylesheet">
</head>
<body>


    <nav class="navbar navbar-expand-md navbar-dark fixed-top " style="background-color: #9b846b; color: black !important;"
    <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="~/img/logo/Logo.png" width="60" height="60" class="d-inline-block align-top" alt="" style="position: relative; left: 20px; right: 10px; margin-right: 20px;">
                </a>
                <a class="navbar-brand" style="color:rgb(47, 58, 77); font-family:Poppins ExtraBold;" href="#">A's Bakes</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ms-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" style="color:rgb(47, 58, 77); font-family:Poppins ExtraBold;" href="/Index">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"style="color:rgb(47, 58, 77); font-family:Poppins ExtraBold;" href="/ProductCustomer?page=1">MENU</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style=" color: #fbc1b4; font-family:Poppins ExtraBold;" href="/AboutUs">ABOUT US</a>
          </li>
          <li class="nav-item">
                <a class="nav-link"  style="color:rgb(47, 58, 77); font-family:Poppins ExtraBold;" href="/Contact">CONTACT US</a>
          </li>
          <li class="nav-item">
                <a class="nav-link" style="color:rgb(47, 58, 77); font-family:Poppins ExtraBold;" href="/FeedbackCustomer">FEEDBACK</a>
          </li>

          @if(Model.userconfirm != null){
              <li class="nav-item">
                <a class="nav-link" style="color:rgb(47, 58, 77); font-family:Poppins ExtraBold;" asp-page="/index" asp-page-handler="LogOut">LOGOUT</a>
          </li>
          <li class="nav-item">
                <a class="nav-link" style="color:rgb(47, 58, 77); font-family:Poppins ExtraBold;" href="/AdminPanel">ADMIN PANEL</a>
          </li>
          }
          

        </ul>
      </div>
    </div>
  </nav>
    </>

    <!-- Banner -->
    <div class="heading-page header-text">
        <section class="page-heading">

            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-content">

                            <h2>OUR STORY</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Banner -->


    <main>

        <!--jan 27--!>

        <section class="sec-aboutus">

        <div class="right-col-aboutus">
                    <p class="p-aboutus">Welcome to A's Bakes, a home bakery that was born out of a love for baking and sharing homemade treats
                        with loved ones. During the quarantine period, we discovered our passion for baking and experimented with various recipes.
                        My daughter and I watched countless baking tutorials and tried different techniques until we came up with our own signature recipes.</p>

                    <p class="p-aboutus2">What sets our homemade baked goods apart is the love and care that we put into each item. We use only high-quality
                        ingredients, and every product is made from scratch in our kitchen. As a mother, I show my love for my family through cooking and baking,
                        and I extend that love to our customers through our products.</p>

                     <p class="p-aboutus2">Our menu includes a variety of baked goods such as cakes, brownies, tarts, cupcakes, and more. Each item is affordable yet
                         rich in taste and quality. We are committed to providing our customers with a taste of our family's baking traditions while keeping our products
                         accessible to everyone.</p>

                     <p class="p-aboutus2">We take pride in the positive feedback we receive from our satisfied customers. Our homemade treats have become a staple
                         in many households, and we are grateful for the support of our community. Join us on this delicious journey and experience the love and passion
                         that we put into every item at A's Bakes.</p>
                    <p style="clear: both;">


        </div>

        <div class="left-col-aboutus">

              <video width="400" height="400" autoplay loop src="~/img/aboutus/aboutusvideo.mp4" class="aboutus-img" clip-path="url(#circleView)">
                    </video>


        </div>

        <div class="left-col-aboutus">
                    <img width="400" height="400" src="/img/aboutus/scake7.png" class="aboutus-img2" clip-path="url(#circleView)"></a>
        </div>





        </section>

              <hr style="margin-bottom: 0"; class="featurette-divider">
         <!-- FOOTER -->
        <div id="footerBottom" style=" background-color: #f7fff8;">

            <div class="container">
                <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-4 py-5 my- border-bottom">
                    <div class="divisions col mb-3">
                        <div>
                            <img class="img-fluid" src="~/img/logo/logofooter.png" style="width:18rem" ;>
                        </div>
                        <p class="text-bottom" style="font-family:Poppins ExtraBold;">
                            Serving you sweet treats made with love ❤️
                            We accept customized cakes, cupcakes, & more! Dm us!
                        </p>
                    </div>

                    <div class="divisions col mb-4">
                        <h5 class="heading-bottom" style="font-family:Poppins ExtraBold;">Sitemap</h5>
                        <div class="sitemap">
                            <ul class="nav flex-row">
                                <li class="nav-item2 mb-2"><a href="Index" class="nav-link p-0 text-muted" style="font-family:Poppins ExtraBold;">Home</a></li>
                                <li class="nav-item4 mb-2"><a href="/ProductCustomer?page=1" class="nav-link p-0 text-muted" style="font-family:Poppins ExtraBold;">Menu</a></li>
                            </ul>
                            <ul class="nav flex-row">
                                <li class="nav-item2 mb-2"><a href="AboutUs" class="nav-link p-0 text-muted" style="font-family:Poppins ExtraBold;">About Us</a></li>
                                <li class="nav-item3 mb-2"><a href="Contact" class="nav-link p-0 text-muted" style="font-family:Poppins ExtraBold;">Contact Us</a></li>
                            </ul>

                            <ul class="nav flex-row">
                                <li class="nav-item2 mb-2"><a href="/FeedbackCustomer" class="nav-link p-0 text-muted" style="font-family:Poppins ExtraBold;">Feedback</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="divisions col mb-4">
                        <h5 class="heading-bottom" style="font-family:Poppins ExtraBold;">Contact Us</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2" style="font-family:Poppins ExtraBold;"><img class="phone" src="~/img/logo/phone.png">+63 09164656894</li>
                            <li class="nav-item mb-2" style="font-family:Poppins ExtraBold;"><img class="mail" src="~/img/logo/mail.png">A_Bakes@gmail.com</a></li>
                        </ul>
                    </div>

                    <div class="divisions col mb-4">
                        <h5 class="heading-bottom" style="font-family:Poppins ExtraBold;">Follow Us</h5>
                        <ul class="socials-pics nav flex-row img-fluid">
                            <li class="nav-item2 mb-2"><a href="https://www.facebook.com/a.bakesandsweets" target="_blank"><img class="socials img-fluid" src="~/img/logo/facebook.png"></a></li>
                            <li class="nav-item5 mb-2"><a href="https://www.instagram.com/a_bakesandsweets/" target="_blank"><img class="socials img-fluid" src="~/img/logo/instagram.png"></a></li>

                        </ul>
                    </div>
                </footer>
            </div>
            <div></div>
        </div>

    </main>
    <div class="subfooter">
        <p>By Group 4 - 3ITD<p>
        <p>Copyright &copy; 2023 All Rights Reserved<p>
    </div>



    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>


</body>
</html>