@page
@model abakes.Pages.ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.104.2">
    <title>Carousel Template · Bootstrap v5.2</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/carousel/">


    <link rel="stylesheet" href="~/css/damarota-blog.css " asp-append-version="true">


    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true">



</head>

    <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top " style="background-color: #9b846b; color: black !important;"
    <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="~/img/logo/Logo.png" width="60" height="60" class="d-inline-block align-top" alt="" style="position: relative; left: 20px; right: 10px; margin-right: 20px;">
                </a>
                <a class="navbar-brand" style="color:rgb(47, 58, 77); font-family:Poppins ExtraBold;" href="#">A's Bakes</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ms-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" style="color:rgb(47, 58, 77); font-family:Poppins ExtraBold;" href="/Index">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color:rgb(47, 58, 77); font-family:Poppins ExtraBold;" href="/ProductCustomer?page=1">MENU</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color:rgb(47, 58, 77); font-family:Poppins ExtraBold;" href="/AboutUs">ABOUT US</a>
          </li>
          <li class="nav-item">
                <a class="nav-link"  style="color:rgb(47, 58, 77); font-family:Poppins ExtraBold;" href="/Contact">CONTACT US</a>
          </li>
          <li class="nav-item">
                <a class="nav-link" style="color:rgb(47, 58, 77); font-family:Poppins ExtraBold;" href="/FeedbackCustomer">FEEDBACK</a>
          </li>
                    @if (Model.userconfirm != null)
                    {
                      <li class="nav-item">
                                <a class="nav-link" style="color:rgb(47, 58, 77); font-family:Poppins ExtraBold;" asp-page-handler="LogOut" asp-page="/index">LOGOUT</a>
                      </li>
                      <li class="nav-item">
                            <a class="nav-link" style="color:rgb(47, 58, 77); font-family:Poppins ExtraBold;" href="/AdminPanel">ADMIN PANEL</a>
                      </li>
                    }
                    else
                    {
                        
                    }

        </ul>
      </div>
    </div>
  </nav>
</header>
  <!-- Banner -->
    <div class="heading-page header-text">
      <section class="page-heading" >
           
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="text-content">
                <h4>LOGIN</h4>
                <h2>ADMIN PANEL</h2>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- Banner -->
<div class="site-wrap">
    
      
    <div class="py-5">
      <div class="container">
        <div class="row">
          
        </div>
      </div>
    </div>  

   
      <div class="container">
        <div class="row">
                @if(TempData["AlertMessage"] != null)
                {
                     <div class="col-md-4 alert alert-success">
                @TempData["AlertMessage"] </div>
                }
          </div>
      
          <div class="col-md-6 pl-12 ">
             <!--asp-page="/Home"--->


            <form method="post">
              
              <div class="p-5 p-lg-5 border">
             
                <div class="form-group row">
                  <div class="col-md-12" >
                            <label for="c_email" class="text-black" style="color:rgb(47, 58, 77); font-family:Poppins ExtraBold;"> Password <span class="text-danger">*</span></label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must: Be at least 8 characters in length.
                    Include at least one upper case letter.
                    Include at least one number.
                    Include at least one special character." required>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                            <label for="c_pass" class="text-black" style="color:rgb(47, 58, 77); font-family:Poppins ExtraBold; margin-top:10px">Confirm Password <span class="text-danger">*</span></label>
                            <input type="password" class="form-control" id="cpassword" name="cpassword" placeholder="" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must: Be at least 8 characters in length.
                    Include at least one upper case letter.
                    Include at least one number.
                    Include at least one special character." required>
                  </div>
            
                </div>
                
                <div class="form-group row">
                  <div class="col-lg-12">
                            <input type="submit" class="btn btn-primary btn-lg btn-block" value="Submit" style="color:rgb(173, 136, 125); font-family:Poppins ExtraBold; background-color: #fbc1b4; border-color: #fbc1b4; margin-top: 20px;">
                  </div>

                  <span style="color:red;">@Model.errorMessage</span>
                 
                </div>
              </div>
            </form>
          </div>

        
        </div>
      </div>
   </div>