@page
@model abakes.Pages.ViewFeedbackModel
@{
}
<div class="site-wrap">

    <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top " style="background-color: #9b846b; color: black !important;"
    <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="~/img/logo/Logo.png" width="60" height="60" class="d-inline-block align-top" alt="" style="position: relative; left: 20px; right: 10px; margin-right: 20px;">
                </a>
                <a class="navbar-brand" style="color:rgb(47, 58, 77); font-family:Poppins ExtraBold;" href="#">A's Bakes</a>    
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ms-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" style="color:rgb(47, 58, 77); font-family:Poppins ExtraBold;" href="/Index">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color:rgb(47, 58, 77); font-family:Poppins ExtraBold;" href="/ProductList">MENU</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color:rgb(47, 58, 77); font-family:Poppins ExtraBold;" href="/AboutUs">ABOUT US</a>
          </li>
          <li class="nav-item">
                <a class="nav-link"  style="color:rgb(47, 58, 77); font-family:Poppins ExtraBold;" href="/Contact">CONTACT US</a>
          </li>
          <li class="nav-item">
                <a class="nav-link" style="color:rgb(47, 58, 77); font-family:Poppins ExtraBold;" href="#">FEEDBACK</a>
          </li>
          @if(Model.userconfirm != null){
          <li class="nav-item">
                <a class="nav-link" style="color:rgb(47, 58, 77); font-family:Poppins ExtraBold;" asp-page-handler="LogOut" asp-page="/index">LOGOUT</a>
          </li>
          <li class="nav-item">
                <a class="nav-link" style="color:rgb(47, 58, 77); font-family:Poppins ExtraBold;" href="/AdminPanel">ADMIN PANEL</a>
          </li>
          }
          

        </ul>
      </div>
    </div>
  </nav>
</header>


    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="@Model.fbImg" alt="Image" class="img-fluid">
            
          </div>
          <div class="col-md-6">
                    <h2 class="text-black" style="font-family:Poppins ExtraBold; color: rgb(252,188,180); font-size: 45px;">@Model.fbName</h2>
            
            <p style="color:rgb(159, 167, 189); font-family:Poppins ExtraBold; font-size: 25px; margin-top:20px;">@Model.fbMessage</p>
            <div class = "rate" id ="star" >
                    <fieldset class="rating">

                            @if (Model.fbRating.Equals("5"))
                            {
                                <input type="radio" id="star5" name="" value="5" checked />
                                <label for="star5" class="full"></label>
                                <input type="radio" id="star4.5" value="4.5" disabled />
                                <label for="star4.5" class="half"></label>
                                <input type="radio" id="star4" value="4" disabled />
                                <label for="star4" class="full"></label>
                                <input type="radio" id="star3.5" value="3.5" disabled />
                                <label for="star3.5" class="half"></label>
                                <input type="radio" id="star3" value="3" disabled />
                                <label for="star3" class="full"></label>
                                <input type="radio" id="star2.5" value="2.5" />
                                <label for="star2.5" class="half"></label>
                                <input type="radio" id="star2" value="2" disabled />
                                <label for="star2" class="full"></label>
                                <input type="radio" id="star1.5" value="1.5" disabled />
                                <label for="star1.5" class="half"></label>
                                <input type="radio" id="star1" value="1" disabled />
                                <label for="star1" class="full"></label>
                                <input type="radio" id="star0.5" value="0.5" disabled />
                                <label for="star0.5" class="half"></label>
                            }

                            @if (Model.fbRating.Equals("4.5"))
                            {
                                <input type="radio" id="star5" value="5" disabled />
                                <label for="star5" class="full"></label>
                                <input type="radio" id="star4.5" value="4.5" checked />
                                <label for="star4.5" class="half"></label>
                                <input type="radio" id="star4" value="4" disabled />
                                <label for="star4" class="full"></label>
                                <input type="radio" id="star3.5" value="3.5" />
                                <label for="star3.5" class="half"></label>
                                <input type="radio" id="star3" value="3" />
                                <label for="star3" class="full"></label>
                                <input type="radio" id="star2.5" value="2.5" />
                                <label for="star2.5" class="half"></label>
                                <input type="radio" id="star2" value="2" />
                                <label for="star2" class="full"></label>
                                <input type="radio" id="star1.5" value="1.5" />
                                <label for="star1.5" class="half"></label>
                                <input type="radio" id="star1" value="1" />
                                <label for="star1" class="full"></label>
                                <input type="radio" id="star0.5" value="0.5" disabled />
                                <label for="star0.5" class="half"></label>
                            }

                            @if (Model.fbRating.Equals("4"))
                            {
                                <input type="radio" id="star5" value="5" />
                                <label for="star5" class="full"></label>
                                <input type="radio" id="star4.5" value="4.5" />
                                <label for="star4.5" class="half"></label>
                                <input type="radio" id="star4" value="4" checked />
                                <label for="star4" class="full"></label>
                                <input type="radio" id="star3.5" value="3.5" />
                                <label for="star3.5" class="half"></label>
                                <input type="radio" id="star3" value="3" />
                                <label for="star3" class="full"></label>
                                <input type="radio" id="star2.5" value="2.5" />
                                <label for="star2.5" class="half"></label>
                                <input type="radio" id="star2" value="2" />
                                <label for="star2" class="full"></label>
                                <input type="radio" id="star1.5" value="1.5" />
                                <label for="star1.5" class="half"></label>
                                <input type="radio" id="star1" value="1" />
                                <label for="star1" class="full"></label>
                                <input type="radio" id="star0.5" value="0.5" />
                                <label for="star0.5" class="half"></label>
                            }

                            @if (Model.fbRating.Equals("3.5"))
                            {
                                <input type="radio" id="star5" value="5" />
                                <label for="star5" class="full"></label>
                                <input type="radio" id="star4.5" value="4.5" />
                                <label for="star4.5" class="half"></label>
                                <input type="radio" id="star4" value="4" />
                                <label for="star4" class="full"></label>
                                <input type="radio" id="star3.5" value="3.5" checked />
                                <label for="star3.5" class="half"></label>
                                <input type="radio" id="star3" value="3" />
                                <label for="star3" class="full"></label>
                                <input type="radio" id="star2.5" value="2.5" />
                                <label for="star2.5" class="half"></label>
                                <input type="radio" id="star2" value="2" />
                                <label for="star2" class="full"></label>
                                <input type="radio" id="star1.5" value="1.5" />
                                <label for="star1.5" class="half"></label>
                                <input type="radio" id="star1" value="1" />
                                <label for="star1" class="full"></label>
                                <input type="radio" id="star0.5" value="0.5" />
                                <label for="star0.5" class="half"></label>
                            }

                            @if (Model.fbRating.Equals("3"))
                            {
                                <input type="radio" id="star5" value="5" />
                                <label for="star5" class="full"></label>
                                <input type="radio" id="star4.5" value="4.5" />
                                <label for="star4.5" class="half"></label>
                                <input type="radio" id="star4" value="4" />
                                <label for="star4" class="full"></label>
                                <input type="radio" id="star3.5" value="3.5" />
                                <label for="star3.5" class="half"></label>
                                <input type="radio" id="star3" value="3" checked />
                                <label for="star3" class="full"></label>
                                <input type="radio" id="star2.5" value="2.5" />
                                <label for="star2.5" class="half"></label>
                                <input type="radio" id="star2" value="2" />
                                <label for="star2" class="full"></label>
                                <input type="radio" id="star1.5" value="1.5" />
                                <label for="star1.5" class="half"></label>
                                <input type="radio" id="star1" value="1" />
                                <label for="star1" class="full"></label>
                                <input type="radio" id="star0.5" value="0.5" />
                                <label for="star0.5" class="half"></label>
                            }


                            @if (Model.fbRating.Equals("2.5"))
                            {
                                <input type="radio" id="star5" value="5" />
                                <label for="star5" class="full"></label>
                                <input type="radio" id="star4.5" value="4.5" />
                                <label for="star4.5" class="half"></label>
                                <input type="radio" id="star4" value="4" />
                                <label for="star4" class="full"></label>
                                <input type="radio" id="star3.5" value="3.5" />
                                <label for="star3.5" class="half"></label>
                                <input type="radio" id="star3" value="3" />
                                <label for="star3" class="full"></label>
                                <input type="radio" id="star2.5" value="2.5" checked />
                                <label for="star2.5" class="half"></label>
                                <input type="radio" id="star2" value="2" />
                                <label for="star2" class="full"></label>
                                <input type="radio" id="star1.5" value="1.5" />
                                <label for="star1.5" class="half"></label>
                                <input type="radio" id="star1" value="1" />
                                <label for="star1" class="full"></label>
                                <input type="radio" id="star0.5" value="0.5" />
                                <label for="star0.5" class="half"></label>
                            }

                            @if (Model.fbRating.Equals("2"))
                            {
                                <input type="radio" id="star5" value="5" />
                                <label for="star5" class="full"></label>
                                <input type="radio" id="star4.5" value="4.5" />
                                <label for="star4.5" class="half"></label>
                                <input type="radio" id="star4" value="4" />
                                <label for="star4" class="full"></label>
                                <input type="radio" id="star3.5" value="3.5" />
                                <label for="star3.5" class="half"></label>
                                <input type="radio" id="star3" value="3" />
                                <label for="star3" class="full"></label>
                                <input type="radio" id="star2.5" value="2.5" />
                                <label for="star2.5" class="half"></label>
                                <input type="radio" id="star2" value="2" checked />
                                <label for="star2" class="full"></label>
                                <input type="radio" id="star1.5" value="1.5" />
                                <label for="star1.5" class="half"></label>
                                <input type="radio" id="star1" value="1" />
                                <label for="star1" class="full"></label>
                                <input type="radio" id="star0.5" value="0.5" />
                                <label for="star0.5" class="half"></label>
                            }

                            @if (Model.fbRating.Equals("1.5"))
                            {
                                <input type="radio" id="star5" value="5" />
                                <label for="star5" class="full"></label>
                                <input type="radio" id="star4.5" value="4.5" />
                                <label for="star4.5" class="half"></label>
                                <input type="radio" id="star4" value="4" />
                                <label for="star4" class="full"></label>
                                <input type="radio" id="star3.5" value="3.5" />
                                <label for="star3.5" class="half"></label>
                                <input type="radio" id="star3" value="3" />
                                <label for="star3" class="full"></label>
                                <input type="radio" id="star2.5" value="2.5" />
                                <label for="star2.5" class="half"></label>
                                <input type="radio" id="star2" value="2" />
                                <label for="star2" class="full"></label>
                                <input type="radio" id="star1.5" value="1.5" checked />
                                <label for="star1.5" class="half"></label>
                                <input type="radio" id="star1" value="1" />
                                <label for="star1" class="full"></label>
                                <input type="radio" id="star0.5" value="0.5" />
                                <label for="star0.5" class="half"></label>
                            }

                            @if (Model.fbRating.Equals("1"))
                            {
                                <input type="radio" id="star5" value="5" />
                                <label for="star5" class="full"></label>
                                <input type="radio" id="star4.5" value="4.5" />
                                <label for="star4.5" class="half"></label>
                                <input type="radio" id="star4" value="4" />
                                <label for="star4" class="full"></label>
                                <input type="radio" id="star3.5" value="3.5" />
                                <label for="star3.5" class="half"></label>
                                <input type="radio" id="star3" value="3" />
                                <label for="star3" class="full"></label>
                                <input type="radio" id="star2.5" value="2.5" />
                                <label for="star2.5" class="half"></label>
                                <input type="radio" id="star2" value="2" />
                                <label for="star2" class="full"></label>
                                <input type="radio" id="star1.5" value="1.5" />
                                <label for="star1.5" class="half"></label>
                                <input type="radio" id="star1" value="1" checked />
                                <label for="star1" class="full"></label>
                                <input type="radio" id="star0.5" value="0.5" />
                                <label for="star0.5" class="half"></label>
                            }

                            @if (Model.fbRating.Equals("0.5"))
                            {
                                <input type="radio" id="star5" value="5" />
                                <label for="star5" class="full"></label>
                                <input type="radio" id="star4.5" value="4.5" />
                                <label for="star4.5" class="half"></label>
                                <input type="radio" id="star4" value="4" />
                                <label for="star4" class="full"></label>
                                <input type="radio" id="star3.5" value="3.5" />
                                <label for="star3.5" class="half"></label>
                                <input type="radio" id="star3" value="3" />
                                <label for="star3" class="full"></label>
                                <input type="radio" id="star2.5" value="2.5" />
                                <label for="star2.5" class="half"></label>
                                <input type="radio" id="star2" value="2" />
                                <label for="star2" class="full"></label>
                                <input type="radio" id="star1.5" value="1.5" />
                                <label for="star1.5" class="half"></label>
                                <input type="radio" id="star1" value="1" />
                                <label for="star1" class="full"></label>
                                <input type="radio" id="star0.5" value="0.5" checked />
                                <label for="star0.5" class="half"></label>
                            }


                    </fieldset>
                    
                    </div>
            
            <div class="mb-5">
              <div class="input-group mb-3" style="max-width: 120px;">
             
             
              
            </div>
            </div>
            @if(Model.userconfirm != null){}else{
                        <p><a href="/ManageFeedback" class="buy-now btn btn-sm btn-primary" 
                            style="color:rgb(173, 136, 125); font-family:Poppins ExtraBold; border-color: #fbc1b4;background-color: #fbc1b4; margin-top: 20px; margin-right:50px;">Add Your Own Feedback</a></p>
            }
          </div>
        </div>
      </div>
    </div>
     </div>



<script>
    setInterval(function () {
        $.ajax({
            url: "/managecode?handler=Expiration",
            type: "GET",
            success: function (result) {
                console.log(result);
                // handle the response here
            },
            error: function (xhr, status, error) {
                console.log("Error: " + error);
            }
        });
    }, 1000);



</script>
<script>
    function previewImage() {
        var fileInput = document.getElementById('fileInput');
        var imgPreview = document.getElementById('imgPreview');

        if (fileInput.files && fileInput.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                imgPreview.src = e.target.result;
            }

            reader.readAsDataURL(fileInput.files[0]);
        }
    }
</script>